{
    "tabWidth": 4,
    "printWidth": 81,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "proseWrap": "always",
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteIndentScriptAndStyle": true,
    "bracketSameLine": true
}
